@import url("https://fonts.googleapis.com/css?family=Bitter|DM+Sans:500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=News+Cycle|PT+Sans+Caption|Raleway:300,400,500,700|Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unica+One&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.mainheadonit {
  width: 100%;
  height: 600px;
}

.firsthead {
  position: relative;
  top: -120px;
  left: 45%;
  color: black;
  text-align: left;
  /* margin: 0 0 0 50%; */
}

@media (max-width: 768px) {
  .firsthead {
    display: none;
  }
}

@media (max-width: 575px) {
  .img-overlap {
    height: 500px;
  }

  .img-overlap {
    height: 450px;
  }

  .img-overlap .img-2 {
    display: none;
  }

  .text-right {
    display: none;
  }

  .templateux-navbar .site-logo a {
    font-size: 28px;
    color: #000;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    font-weight: bolder;
    position: relative;
    /* left: 5%; */
    letter-spacing: 8px;
  }
}

.pgsubtitle {
  font-family: sans-serif;
  font-size: 28px;
  line-height: 0px;
}

.firsthead h2 {
  font-size: 70px;
  color: black;
  text-shadow: 3px 3px whitesmoke;
  font-family: "Bebas Neue", cursive;
}

/* smaky */

.fashion-shop {
  width: 100%;
  height: auto;
  /* margin: 100px 0 100px 0; */
  padding: 0;
}

.colfashionimgcontent {
  background-color: white;
  background-image: url(../media/3.JPG);
  background-size: contain;
  top: 70px;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0px;
  /* margin: 0px 10px; */
}

@media (min-width: 1281px) {
  .colfashionimgcontent {
    top: 130px;
    margin: 100px 100px;
    background-size: contain;
  }
}

@media screen and (max-width: 768px) {
  .colfashionimgcontent {
    display: none;
  }
}

.tellme {
  position: relative;
  top: 40px;
  margin: 0 0 0 30px;
  font-size: 22px;
  line-height: 0;
  text-transform: uppercase;
}

@media screen and (max-width: 575px) {
  #whomeis {
    display: none;
  }
}

#shop-fashion {
  padding: 10px 60px;
  font-size: 15px;
  font-family: lato, Arial, sans-serif;
  /* background-image: url(../media/undraw_server_cluster_jwwq.svg);
  background-size: contain;
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat; */
}

.quality {
  /* padding: 20px; */
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: gray;
  line-height: 28px;
}

#user {
  background: url(../media/textBackground.jpg) no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#award {
  background: url(../media/textBackground.jpg) no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.getrow {
  margin: 30px;
  background-color: white;
  position: relative;
  /* top: -180px; */
}

.servcontainer2 {
  width: 100%;
  background-color: rgb(230, 227, 227);
  padding: 10px 0;
}

.srow {
  position: relative;
  margin: 40px;
  padding: 20px 0;
  background-color: rgb(255, 255, 255);
}

.sbig {
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 150px;
  font-family: lato, Arial, sans-serif;
  color: #f5e5e5;
  font-weight: 900;
  letter-spacing: 3px;
}

.sup {
  padding: 20px 0px;
  z-index: 10;
  position: absolute;
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
  width: 100%;
  top: 30%;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 20px;
  color: black;
  height: auto;
}

/*skills that i have */
/* .site-section {
  padding: 4.5em 0;
  width: 100%;
} */

.site-section {
  padding-top: 7rem;
  /* padding-bottom: 10px; */
  position: relative;
  z-index: 2;
}

.block__62849 .block__16443 {
  background: #fff;
  padding: 30px;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  top: 0;
  border: rgb(141, 140, 140) 0.5px solid;
  border-radius: 20px;
  position: relative;
  text-decoration: none;
}

.block__62849 .block__16443 .custom-icon {
  display: block;
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid #007bff;
  background: #007bff;
  margin-bottom: 1.5rem;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.block__62849 .block__16443 .custom-icon:before {
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  content: "";
  width: 90px;
  height: 90px;
  border: 1px solid rgba(0, 123, 255, 0.2);
}

.block__62849 .block__16443 .block__62849 .block__16443 {
  font-size: 1.6rem;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: 0.3s all cubic-bezier(0.66, 0.2, 0.48, 0.9);
  -o-transition: 0.3s all cubic-bezier(0.66, 0.2, 0.48, 0.9);
  transition: 0.3s all cubic-bezier(0.66, 0.2, 0.48, 0.9);
}

.block__62849 .block__16443 h3 {
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
}

.block__62849 .block__16443 p {
  color: #212529;
}

.block__62849 .block__16443:hover {
  top: -20px;
  -webkit-box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 991.98px) {
  .block__62849 .block__16443:hover {
    top: 0;
  }
}

.block__62849 .block__16443:hover .custom-icon {
  background: transparent;
}

.block__62849
  .block__16443:hover
  .custom-icon
  .block__62849
  .block__16443:hover
  .custom-icon {
  color: #007bff;
}

.fas,
.fab {
  color: #007bff;
  position: relative;
  top: 10px;
}

/* END END END END END skills that i have */

/* number counter */

.block__19738 {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  /* background-color: #F8F9FA; */
}

.block__19738 {
  text-align: center;
  /* font-size: 2.5rem; */
}

.block__19738 .number {
  font-size: 2rem;
  font-weight: 500;
  color: #007bff;
}

.yostar {
  padding: 30px;
}

@media screen and (max-width: 575px) {
  .block__19738 {
    background-color: white;
    /* padding-top: 0px; */
    margin: 10px;
  }
  .yostar {
    border-bottom: 0.5px solid brown;
    /* border-left: 1px solid brown; 
    border-right: 1px solid brown;   */
  }
}

/* baro */

.baro {
  color: rgb(55, 127, 223);
  top: -1px;
  margin-right: 8px;
}

.block__19738 .caption {
  font-size: 18px;
  display: block;
  color: #adb5bd;
}

/* site section overlap images */
/* .site-section {
  padding-top: 7rem;
  padding-bottom: 7rem;
  position: relative;
  z-index: 2;
} */

.img-overlap {
  position: relative;
  /* background-size: contain; */
}

@media (min-width: 1281px) {
  .firstlast {
    background-image: url(../media/standing.svg);
    background-size: contain;
    /* background-attachment: fixed; */
    background-position: left;
    background-repeat: no-repeat;
    background-size: 700px;
    background-position-x: 10px;
  }

  .firstyoyo {
    /* margin-left: 80px; */
    left: 250px;
  }

  .img-overlap {
    left: 250px;
  }
}

.img-overlap .img-1,
.img-overlap .img-2 {
  position: absolute;
  /* padding: 4%;  */
  max-width: 300px;
}

@media (max-width: 991.98px) {
  .img-overlap .img-1,
  .img-overlap .img-2 {
    padding: 10%;
    max-width: 400px;
    position: relative;
  }
}

.img-overlap .img-1 {
  top: 0;
}

.img-overlap .img-2 {
  bottom: -20%;
  right: -10%;
}

@media (max-width: 991.98px) {
  .img-overlap .img-2 {
    bottom: 30%;
  }
}

.img-shadow {
  border-radius: 7px;
  -webkit-box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.4);
}

.section-title {
  font-size: 40px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-weight: 500;
}

.section-title-sub {
  font-size: 20px;
  color: #ced4da;
}

/* work experience */

.color-expo {
  padding-top: 4em;
  padding-bottom: 9em;
  clear: both;
  width: 100%;
  display: block;
}

@media screen and (max-width: 768px) {
  .color-expo {
    padding-top: 5em;
    padding-bottom: 8em;
  }
}

.color-narrow-cont {
  padding: 0 2.5em;
}

@media screen and (max-width: 768px) {
  .color-narrow-cont {
    padding: 0;
  }

  .heading-meta,
  .color-heado,
  .colorsign {
    margin-left: 10px;
  }
}

.heading-meta {
  margin-bottom: 15px;
  display: block;
  font-size: 25px;
  text-transform: uppercase;
  color: #999999;
  font-weight: 500;
  letter-spacing: 2px;
  font-family: "Raleway", sans-serif;
}

.color-heado {
  font-size: 30px;
  margin-bottom: 1em;
  /* font-weight: 700; */
  text-transform: uppercase;
  letter-spacing: 2px;
  /* line-height: 1; */
  position: relative;
  font-family: "Raleway", sans-serif;
}

.color-heado span {
  display: block;
}

@media screen and (max-width: 768px) {
  .color-heado {
    margin-bottom: 3em;
  }
}

.timeline-centered {
  position: relative;
  margin-bottom: 30px;
}

.timeline-centered:before,
.timeline-centered:after {
  content: " ";
  display: table;
}

.timeline-centered:after {
  clear: both;
}

.timeline-centered:before,
.timeline-centered:after {
  content: " ";
  display: table;
}

.timeline-centered:after {
  clear: both;
}

.timeline-centered:before {
  content: "";
  position: absolute;
  display: block;
  width: 4px;
  background: #f2f3f7;
  top: 20px;
  bottom: 20px;
  margin-left: 29px;
}

.timeline-centered .timeline-entry {
  position: relative;
  margin-top: 5px;
  margin-left: 30px;
  margin-bottom: 10px;
  clear: both;
}

.timeline-centered .timeline-entry .timeline-entry-inner {
  position: relative;
  margin-left: -20px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
  display: block;
  width: 40px;
  height: 40px;
  background: #2c98f0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  -moz-box-shadow: 0 0 0 5px #f2f3f7;
  -webkit-box-shadow: 0 0 0 5px #f2f3f7;
  box-shadow: 0 0 0 5px #f2f3f7;
  line-height: 40px;
  float: left;
}

.timeline-ico {
  color: white;
  top: -1px;
}

.timeline-centered
  .timeline-entry
  .timeline-entry-inner
  .timeline-icon.color-1 {
  color: #fff;
}

.timeline-centered
  .timeline-entry
  .timeline-entry-inner
  .timeline-icon.color-2 {
  background: #ec5453;
}

.timeline-centered
  .timeline-entry
  .timeline-entry-inner
  .timeline-icon.color-3 {
  background: #f9bf3f;
}

.timeline-centered
  .timeline-entry
  .timeline-entry-inner
  .timeline-icon.color-4 {
  background: #a84cb8;
}

.timeline-centered
  .timeline-entry
  .timeline-entry-inner
  .timeline-icon.color-5 {
  background: #2fa499;
}

.timeline-centered
  .timeline-entry
  .timeline-entry-inner
  .timeline-icon.color-none {
  background: #fff;
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

/* #f2f3f7 */

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
  position: relative;
  background: rgb(250, 248, 248);
  padding: 1.5em;
  margin-left: 60px;
  height: 200px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 9px 9px 0;
  border-color: transparent #f2f3f7 transparent transparent;
  left: 0;
  top: 10px;
  margin-left: -9px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p + p {
  margin-top: 15px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 {
  font-size: 20px;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 a {
  color: #000;
}

.timeline-centered
  .timeline-entry
  .timeline-entry-inner
  .timeline-label
  h2
  span {
  -webkit-opacity: 0.4;
  -moz-opacity: 0.4;
  opacity: 0.4;
  -ms-filter: alpha(opacity=40);
  filter: alpha(opacity=40);
  font-size: 16px;
}

/* navbar */

.templateux-navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 35px 0;
  z-index: 99999;
}

.templateux-navbar .container-fluid {
  max-width: 100%;
}

.templateux-navbar .toggle-menu {
  z-index: 9999;
  position: relative;
  top: -13px;
  display: none;
}

@media (max-width: 767.98px) {
  .templateux-navbar .toggle-menu {
    display: block;
  }
}

.templateux-navbar .toggle-menu:active,
.templateux-navbar .toggle-menu:focus {
  outline: none;
}

.templateux-navbar .site-logo {
  position: relative;
  top: -10px;
  z-index: 9999;
  left: 50px;
  text-decoration: none;
}

.templateux-navbar .site-logo a {
  font-size: 28px;
  color: #000;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

.templateux-navbar .templateux-menu {
  position: relative;
  right: 80px;
}

.templateux-navbar .templateux-menu ul {
  margin-bottom: 0;
}

.templateux-navbar .templateux-menu ul li {
  display: inline-block;
}

.templateux-navbar .templateux-menu ul li a {
  margin-right: 20px;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: #000;
  position: relative;
  padding-bottom: 5px;
  display: block;
  text-decoration: none;
}

@media (min-width: 1281px) {
  .templateux-navbar .templateux-menu ul li a {
    font-size: 18px;
    font-weight: 200;
    padding: 0px 15px;
  }

  .templateux-navbar .site-logo a {
    font-size: 28px;
    font-weight: bolder;
    letter-spacing: 6px;
  }
}

.templateux-navbar .templateux-menu ul li a:before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 0;
  left: 0;
  background: #dc3545;
  -webkit-transition: 0.15s width ease;
  -o-transition: 0.15s width ease;
  transition: 0.15s width ease;
}

.templateux-navbar .templateux-menu ul li a:hover:before {
  width: 100%;
}

.templateux-navbar .templateux-menu ul li.active > a:before {
  width: 100%;
}

.templateux-navbar .templateux-menu ul li:last-child a {
  margin-right: 0;
}

@media (max-width: 767.98px) {
  .templateux-navbar .templateux-menu {
    position: fixed;
    width: 100%;
    background-color: #fff;
    top: 0;
    left: 0;
    margin: 0;
    text-align: left;
    height: 100vh;
    min-height: 400px;
    padding: 15px;
    display: none;
    padding-top: 100px;
    overflow-y: scroll;
    margin-left: 25px;
  }

  .templateux-navbar .templateux-menu ul {
    margin-left: 40px;
  }

  .templateux-navbar .templateux-menu ul li {
    display: block;
    margin-bottom: 10px;
  }

  .templateux-navbar .templateux-menu ul li a {
    padding: 10px 0 2px 0;
    font-size: 18px;
    display: inline-block;
  }
}

@media (max-width: 767.98px) {
  .templateux-navbar .templateux-menu ul {
    margin-left: 0px;
  }
}

.templateux-navbar.navbar-light .site-logo a {
  color: #fff;
}

.templateux-navbar.navbar-light .hamburger .hamburger-inner,
.templateux-navbar.navbar-light .hamburger .hamburger-inner::before,
.templateux-navbar.navbar-light .hamburger .hamburger-inner::after {
  background-color: #fff;
}

.templateux-navbar.navbar-light .templateux-menu ul li a {
  color: #fff;
}

.menu-open .templateux-navbar {
  position: fixed;
  left: 0;
  top: 0;
}

.container-fluid {
  padding-left: 50px;
  padding-right: 50px;
  max-width: 1600px;
}

@media (max-width: 767.98px) {
  .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 767.98px) {
  .menu-open .site-logo a {
    color: #000 !important;
  }
}

.menu-open .navbar-light .hamburger .hamburger-inner,
.menu-open .navbar-light .hamburger .hamburger-inner::before,
.menu-open .navbar-light .hamburger .hamburger-inner::after {
  background-color: #000;
}

.menu-open .templateux-menu li {
  opacity: 0;
  visibility: hidden;
  margin-left: -10px;
  position: relative;
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.menu-open .templateux-menu li.staggard {
  opacity: 1;
  visibility: visible;
  margin-left: 0px;
}

@media (max-width: 767.98px) {
  .menu-open .templateux-menu li a {
    color: #000 !important;
  }
}

/* Home Banner Area css
============================================================================================ */
.home_banner_area {
  z-index: 1;
  background: url() no-repeat top center;
  background-position: left;
  background-size: contain;
  margin-top: 200px;
}

.stratend {
  background-image: url(../media/mind.svg);
  background-size: 480px;
  /* padding-top: 100px; */
  background-attachment: fixed;
  background-position: left;
  background-position-x: 20px;
  background-position-y: 200px;
  background-repeat: no-repeat;
}

.home_banner_area .banner_inner {
  width: 100%;
  height: 400px;
}

.home_banner_area .banner_inner .home_right_img {
  padding-top: 10px;
}

@media (max-width: 1480px) {
  .home_banner_area .banner_inner .home_right_img img {
    max-width: 100%;
    height: auto;
  }
}

@media (min-width: 1281px) {
  .home_right_img img {
    /* max-width: 100%; */
    height: 500px;
    position: relative;
    top: 120px;
    left: 100px;
  }

  .stratend {
    background-size: 780px;
    background-position-x: 50px;
    background-image: url(../media/office.svg);
    background-position-y: 200px;
    padding-bottom: 650px;
    /* background-size: cover; */
  }

  .home_banner_area {
    margin-bottom: 100px;
    height: auto;
  }

  .firsthead {
    left: 200px;
  }
}

@media (max-width: 991px) {
  .home_banner_area .banner_inner .home_right_img {
    display: none;
  }
}

.home_banner_area .banner_inner .col-lg-7 {
  vertical-align: middle;
  align-self: center;
}

.home_banner_area .banner_inner .banner_content {
  text-align: left;
}

@media (max-width: 991px) {
  .home_banner_area .banner_inner .banner_content {
    margin-top: 150px;
  }
}

.home_banner_area .banner_inner .banner_content h3 {
  font-size: 40px;
  margin-bottom: 20px;
  position: relative;
}

.home_banner_area .banner_inner .banner_content h3:after {
  content: "";
  width: 410px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 23%;
  background: #000000;
}

@media (max-width: 575px) {
  .home_banner_area .banner_inner .banner_content h3:after {
    display: none;
  }
}

.home_banner_area .banner_inner .banner_content h1 {
  margin-top: 20px;
  font-size: 70px;
  line-height: 60px;
  margin-bottom: 25px;
}

@media (max-width: 1024px) {
  .home_banner_area .banner_inner .banner_content h1 {
    font-size: 60px;
  }
}

@media (max-width: 767px) {
  .home_banner_area .banner_inner .banner_content h1 {
    font-size: 50px;
  }
}

.home_banner_area .banner_inner .banner_content h5 {
  font-size: 24px;
  margin-bottom: 35px;
}

.home_banner_area .banner_inner .banner_content .primary_btn {
  margin-right: 20px;
}

.banner_area {
  position: relative;
  z-index: 1;
  min-height: 485px;
}

@media (max-width: 1199px) {
  .banner_area {
    min-height: 350px;
  }
}

.banner_area .banner_inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 485px;
  background: url(../img/banner/common-banner.png) no-repeat right bottom;
  background-size: 90% 85%;
  width: 98%;
  z-index: 1;
}

@media (max-width: 1199px) {
  .banner_area .banner_inner {
    min-height: 350px;
  }
}

@media (max-width: 991px) {
  .banner_area .banner_inner {
    background: #854fee;
    width: 100%;
  }
}

.banner_area .banner_inner .banner_content {
  margin-left: 50px;
  margin-top: 100px;
}

@media (max-width: 991px) {
  .banner_area .banner_inner .banner_content {
    margin-left: 0px;
    margin-top: 50px;
  }
}

.banner_area .banner_inner .banner_content h2 {
  color: #fff;
  font-size: 50px;
  font-family: "Rubik", sans-serif;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 700;
}

@media (max-width: 991px) {
  .banner_area .banner_inner .banner_content h2 {
    font-size: 30px;
  }
}

.banner_area .banner_inner .banner_content .page_link a {
  font-size: 14px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  margin-right: 20px;
  position: relative;
}

.banner_area .banner_inner .banner_content .page_link a:before {
  content: "-";
  position: absolute;
  right: -14px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.banner_area .banner_inner .banner_content .page_link a:last-child {
  margin-right: 0px;
}

.banner_area .banner_inner .banner_content .page_link a:last-child:before {
  display: none;
}

/* End Home Banner Area css
============================================================================================ */

/* services */

@media (min-width: 768px) {
  .site-section {
    padding: 0 0;
  }
}

.site-section.site-section-sm {
  padding: 4em 0;
}

.site-section-heading {
  font-size: 30px;
  color: #dee2e6;
  position: relative;
}

.site-section-heading:before {
  content: "";
  left: 0%;
  top: 0;
  position: absolute;
  width: 40px;
  height: 2px;
  background: #007bff;
}

.site-section-heading.text-center:before {
  content: "";
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
  width: 40px;
  height: 2px;
  background: #007bff;
}

.section-title .sub-title {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 400;
  color: #b3b3b3;
}

.section-title .title {
  font-size: 2.2rem;
}

.service {
  padding: 30px;
  background: #fff;
  border: 1px solid #eee;
  border-top: 2px solid #007bff;
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  position: relative;
  top: 0;
}

.service:hover,
.service:focus {
  -webkit-box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.4);
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.4);
  border: 1px solid transparent;
  border-top: 2px solid #007bff;
  top: -2px;
}

.service *:last-child {
  margin-bottom: 0;
}

.service h3 {
  font-size: 1.1rem;
  color: #000;
}

.service p {
  color: #999999;
  font-size: 1rem;
}

/* contact us */

/* .site-a-section {
  padding: 2.5em 0;
} */

@media (min-width: 768px) {
  .site-a-section {
    padding: 5em 0 0 0;
  }
}

/* .site-a-section.site-a-section-sm {
  padding: 4em 0;
} */

.site-a-section-heading {
  padding-bottom: 20px;
  margin-bottom: 0px;
  position: relative;
  font-size: 2.5rem;
}

@media (min-width: 768px) {
  .site-a-section-heading {
    font-size: 3rem;
  }
}

.addo {
  background-image: url(../media/address.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 160px;
  background-color: whitesmoke;
}

/* footer */

.footraw {
  background-color: rgb(255, 255, 255);
  height: 150px;
  width: 100%;
  border-top: 0.5px solid #63abff;
  margin-bottom: 40px;
}

#footstyling {
  font-size: 20px;
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  text-transform: capitalize;
  text-align: center;
}

.footer-foot {
  align-items: center;
  position: relative;
  top: 40%;
}

.footer-foot ul {
  display: flex;
  list-style: none;
  /* align-content: center; */
  justify-content: center;
}

.footer-foot ul li i {
  margin-right: 20px;
}
.checkout1 {
  color: white;
  background-color: #2D88FF;
  border-radius: 50%;
  padding: 8px;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.fustyle {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.fustyle:hover,
.fustyle:focus,
.fustyle:active {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
.checkout2 {
  color: white;
  background-color: #1da1f2;
  border-radius: 50%;
  padding: 8px;
}
.checkout3 {
  color: white;
  background-color: #0A66C2;
  border-radius: 50%;
  padding: 8px;
}
.checkout4 {
  color: white;
  background-color: #ed4956;
  border-radius: 50%;
  padding: 8px;
}

.checkout5 {
  color: white;
  background-color: black;
  border-radius: 50%;
  padding: 8px;
}

.addfoot {
  margin-top: 20px;
  /* padding: 10px; */
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.totli {
  margin: 20px 0px;
}

.section-titlee {
  font-size: 36px;
  margin-bottom: 20px;
  margin-left: 14px;
  position: relative;
  color: #5523a59d;
}

.section-titlee:before {
  content: "";
  background-image: url(../media/dots.svg);
  display: block;
  height: 100px;
  left: -14px;
  top: -14px;
  position: absolute;
  width: 37px;
  background-color: whitesmoke;
}

.timeline {
  position: relative;
}

.timeline .timeline-container {
  padding-left: 50px;
  margin-bottom: 50px;
  position: relative;
  background-color: inherit;
  width: 100%;
}

.timeline .timeline-container:last-of-type {
  margin-bottom: 0;
}

/* #FFF */
.timeline.edu .timeline-container::after {
  content: "\f007";
  background: #fff;
  font-family: "Font Awesome\ 5 Free";
  font-size: 24px;
  color: #ff4c60;
  position: absolute;
  left: -7px;
  top: 0;
  z-index: 1;
}

.timeline.exp .timeline-container::after {
  content: "\f007";
  background: #fff;
  font-family: "Font Awesome\ 5 Free";
  font-size: 24px;
  color: #ff4c60;
  position: absolute;
  left: -7px;
  top: 0;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .timeline.exp {
    margin-top: 40px;
  }
}

.myRole {
  font-weight: bold;
}

.myDesc {
  font-size: 14px !important;
}

.timeline .content {
  position: relative;
}

.timeline .content .time {
  color: #8b88b1;
  font-size: 14px;
}

.timeline .content h3 {
  font-size: 20px;
  margin: 10px 0;
}

.timeline .content p {
  margin: 0;
}

.timeline span.line {
  position: absolute;
  width: 1px;
  background-color: #ff4c60;
  top: 30px;
  bottom: 30px;
  left: 34px;
}

.grounded {
  border-radius: 30px;
}

.bg-whitee {
  background: #fff;
}

.shadow-dark {
  -webkit-box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
  -moz-box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
  box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
}

.padding-30 {
  padding: 30px;
}

#gobtn {
  margin: 30px 0px 60px 0px;
}

.button {
  padding: 12px 30px;
  background: white;
  color: black;
  border: 2px solid black;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  border-radius: 30px;
}

.button:hover,
.button:active,
.button:focus {
  -webkit-transition: 500ms;
  transition: 500ms;
  background: black;
  color: white;
  text-decoration: none;
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

/* ++++++++++++++++++++++MODAL FORMATTING+++++++++++++++++++++++++++++++++++++ */
/* #131111 */
.modal-content {
  background-color: white;
  color: black;
}

.modal-header {
  border: none;
  text-decoration: none;
  color: white;
}

.modal-header h5 {
  position: relative;
  left: 16%;
  font-family: "Unica One", cursive;
  font-size: 30px;
  letter-spacing: 6px;
  font-weight: bold;
  color: white;
}

.modal-backdrop {
  opacity: 0.85 !important;
}

/* modal formatting */

.skills-style {
  font-size: 15px;
  font-family: sans-serif;
  font-style: normal;
  text-transform: capitalize;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(113, 10, 209);
}

.list-unstyled p {
  text-transform: initial;
  font-family: "Roboto Condensed", sans-serif;
}

.modal-btn {
  position: relative;
  right: 40%;
  width: auto;
  padding: 5px 10px;
  background: white;
  color: grey;
  border: 1px solid grey;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}

@media (max-width: 575px) {
  .modal-btn {
    position: relative;
    right: 35%;
  }
  .block__62849 .block__16443 .custom-icon {
    /* display: block;
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid #007bff; */
    background: white;
    /* margin-bottom: 1.5rem;
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease; */
  }

  .modal-dialog {
    max-width: none;
  }
  .modal-dialog {
    width: 100%;
    height: 100%;
    padding: 0;
    margin-top: 0;
    right: 9px;
    top: -1px;
  }

  .modal-content {
    height: 100%;
  }

  .modal-header h5 {
    position: relative;
    left: 0px;
    font-family: "Unica One", cursive;
    font-size: 30px;
    letter-spacing: 6px;
    font-weight: bold;
    color: rgb(5, 5, 121);
  }

  #experience {
    padding-left: 15px;
  }
  #experiencee {
    padding-left: 15px;
  }

  .site-section {
    margin-left: 15px;
  }
}

/* --------CLOSE BUTTON ------------ */

.model-header.close {
  border: none;
  text-shadow: none;
}

.outer {
  position: relative;
  margin: auto;
  /* left: 150px;
  top: -20px; */
  width: 35px;
  cursor: pointer;
}

.inner {
  width: inherit;
  text-align: center;
}

label {
  font-size: 12px;
  line-height: 1em;
  text-transform: uppercase;
  color: black;
  transition: all 0.3s ease-in;
  opacity: 0;
  font-weight: lighter;
  cursor: pointer;
}

.inner:before,
.inner:after {
  position: absolute;
  content: "";
  height: 1px;
  width: inherit;
  background: #ffc107;
  left: 0;
  transition: all 0.3s ease-in;
  text-decoration: none;
  border: none;
}

.inner:before {
  top: 50%;
  transform: rotate(45deg);
}

.inner:after {
  bottom: 50%;
  transform: rotate(-45deg);
}

.outer:hover label {
  opacity: 1;
}

.outer:hover .inner:before,
.outer:hover .inner:after {
  transform: rotate(0);
}

.outer:hover .inner:before {
  top: 0;
}

.outer:hover .inner:after {
  bottom: 0;
}

/* --------CLOSE BUTTON END ------------ */
.client-item {
  min-height: 50px;
  position: relative;
  text-align: center;
  margin-top: 20px;
}

.client-item img {
  display: inline-block;
}

/* =================TECH USED ===================== */
/* rgba(19, 18, 18, 0.925) */

.flex-item.full > .text {
  max-width: 700px;
  padding: 20px 0 30px;
}

.label.tag {
  background-color: rgba(14, 68, 168, 0.925);
  border-radius: 0;
  font-weight: normal;
  padding: 0px 12px;
  border-radius: 8px;

  margin-bottom: 3px;
  color: white;
}

/* =================TECH USED END===================== */

/* +++++++++++++++++++++++++MODAL FORMATTING END++++++++++++++++++++++++++++++++++ */

.profileyo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-position: top;
  background-size: contain;
}

/* 88888888888888888888 */

.videoBG {
  width: 100%;
  margin: 0;
  height: 500px;
  border-radius: 0px;
}

#gobtn-flip {
  margin: 30px 0px 60px 0px;
}
/* #E9EEF3 */
.button-flip {
  padding: 10px 50px;
  background: transparent;
  color: white;
  border: 2.5px solid #583c21;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  border-radius: 2px;
}

.button-flip:hover,
.button-flip:active,
.button-flip:focus {
  -webkit-transition: 500ms;
  transition: 500ms;
  background: transparent;
  color: black;
  border: 1px black dotted;
  text-decoration: none;
}

.pro-flip {
  position: absolute;
  top: 360px;
  color: darkgrey;
  font-family: "Nunito", sans-serif;
  text-align: center;
  width: 100%;
  height: 100%;
}

@media (max-width: 700px) {
  .pro-flip {
    position: absolute;
    top: 400px;
    color: darkgrey;
    font-family: "Nunito", sans-serif;
    text-align: center;
    width: 100%;
    height: 100%;
  }
  .button-flip {
    padding: 5px 100px;
    background: black;
    color: white;
    border: 2.5px solid black;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 2px;
  }
}

.pro-flipkart {
  position: absolute;
  top: 10px;
  right: -170px;
  color: white;
  text-align: center;
  width: 100%;
  height: 100%;
  font-family: "Segoe UI", Roboto;
}

#header-flip {
  font-size: 55px;
  font-weight: 300;
  letter-spacing: 20px;
  line-height: 48px;
  text-align: center;
  /* border: 2px solid black; */
  width: 800px;
  padding: 20px 0;
  margin: 0;
  text-transform: uppercase;
  background: #616161; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #9bc5c3d0,
    #616161b2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #9bc5c362,
    #61616154
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#flip-mini {
  background: #272727; /* fallback for old browsers */

  color: rgb(189, 189, 189);
}

@media (max-width: 700px) {
  .pro-flipkart {
    position: absolute;
    top: 160px;
    right: -164px;
    color: white;
    text-align: center;
    font-family: "Segoe UI", Roboto;
    width: 500px;
  }
  #header-flip {
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 2px;
    /* line-height: 10px; */
    color: white;
    width: 300px;
    padding: 0px 0;
    text-align: center;
    text-transform: uppercase;
  }
}

@media only screen and (max-width: 600px) {
  .videoBG {
    border-radius: 10px;
  }
}

/* 8888888888888888888888 */
